<p class="lead">Logins</p>

<%= form_for(@user, url: logins_path) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<%= f.submit 'ログイン', class: "btn" %>
<% end %>



